<%- include('partials/header') %>
    <!-- OffCanvas Menu End -->


    <div class="offcanvas-overlay"></div>
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row breadcrumb_box  align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                            <h2 class="breadcrumb-title">Shop</h2>
                        </div>
                        <div class="col-lg-6  col-md-6 col-sm-12">
                            <!-- breadcrumb-list start -->
                            <ul class="breadcrumb-list text-center text-md-right">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active">Cart</li>
                            </ul>
                            
                            <!-- breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- breadcrumb-area end -->

    <!-- Cart Area Start -->
   
    <div class="cart-main-area pt-100px pb-100px">
         <%  if(locals.CartItem[0]) 
                         { %>
        <div class="container">
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    
                        <div class="table-content table-responsive cart-table-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Until Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>



                                    <% let TotalPrice=0 %>
                                    <% let totalQ=0,Price=0 ,totaldiscount=0%>

                                 
                      

                                    <%  locals.CartItem.forEach(function (CartItems) { %>   
                                   
                                    <tr>

                                    

                                        <td class="product-thumbnail">
                                            <a href="#"><img class="img-responsive ml-3" src="/AdminAssets/images/addProduct/<%= CartItems.product.Images[0] %> " alt="" /></a>
                                        </td>
                                        <td class="product-name"><%= CartItems.product.ProductName%><a href="#"></a></td>
                                        <td class="product-price-cart"><p>₹<%= CartItems.product.Price-(CartItems.product.Price*CartItems.product.Discount/100)%></p><span class="amount"><del style="color:grey">₹<%= CartItems.product.Price%></del></span><p style="color: rgb(29, 247, 29);"><%= CartItems.product.Discount%>% Off</p></td>
                                        <td class="product">
                                
                                            <div class="d-flex">
                                                <button style="  border-style: solid;
                                                border-width: thin;" onclick="cartcontrol('<%=CartItems._id %>','<%=CartItems.Quantity %> ','<%=CartItems.ItemId %>',-1)"  class="col-lg-3 btn-outline-info" >-</button>
                                                <input id="quantitynumber" readonly type="text" value="<%=CartItems.Quantity %> "> 
                                                <button style="  border-style: solid;
                                                border-width: thin;" onclick="cartcontrol('<%=CartItems._id %>','<%=CartItems.Quantity %> ','<%=CartItems.ItemId %>',1)" class="col-lg-3 btn-outline-info">+</button>
                                           
                                            </div>
                                        </td>
                                      
                                        <td class="product-subtotal"><p>₹<%=Math.round( CartItems.Quantity* (CartItems.product.Price-(CartItems.product.Price*CartItems.product.Discount/100)) )%></p><p style="font-size: 14px;">you save <br>₹<%=Math.round( (CartItems.product.Price*CartItems.product.Discount/100)*CartItems.Quantity) %> </p> </td>
                                        <td class="product-remove">

                                         
                                           <% TotalPrice=TotalPrice+(CartItems.Quantity* (CartItems.product.Price-(CartItems.product.Price*CartItems.product.Discount/100)))%>
                                           <% totalQ=totalQ+CartItems.Quantity%>
                                            <% Price=Price+(CartItems.Quantity* CartItems.product.Price) %> 
                                            <% totaldiscount=totaldiscount+ CartItems.Quantity*(CartItems.product.Price*CartItems.product.Discount/100)%> 



                                            <a onclick="RemoveProduct('<%=CartItems._id %>','<%=CartItems.ItemId %>')"  href="#"><i class="icon-close"></i></a>
                                        </td>
                                    </tr>
                                    
                                    <% })%>
                                
                                </tbody> 
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="/">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear">
                                      
                                        <a href="/ClearCart">Clear Shopping Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
             
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-lm-30px">
                        
                        </div>
                        <div class="col-lg-4 col-md-6 mb-lm-30px">
                            <div class="discount-code-wrapper">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>

                                </div>
                                <div class="discount-code">
                                    <p>Enter your coupon code if you have one.</p>
                                    <form>
                                        <input id="coupon" type="text" required="" name="name" />
                                        <p id="denied" style="color: red;"></p>
                                        <p id="approved" style="color: rgb(13, 255, 13);"> </p>
                                        <button onclick="ApplyCoupon() " class="cart-btn-2" type="submit">Apply Coupon</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 mt-md-30px">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                </div>
                                <h5>Total products <span ><%= totalQ %></span></h5>
                                <h5>Total Price <span>₹ <%= Price %> </span></h5>
                           
                                <div class="total-shipping">
                                    <h5>Additional charges</h5>
                                    <ul>
                                        <li><input style="color: black;" readonly type="" /> delivery fee <span style="color: rgb(5, 255, 5);">Free</span></li>
               
                                    </ul>
                                    
                                    
                                </div>
                                <h5>Coupon Discount <span id="abc">0</span></h5>
                                <h5>offer Discount <span id="abc">₹<%= Math.trunc(totaldiscount)  %></span></h5>

                                <h4 class="grand-totall-title">Grand Total <span id="grand">₹<%= Math.trunc(TotalPrice)  %></span></h4>
                                <a href="/CheckOut">Proceed to Checkout</a>



                                




                            </div>

                            <% } else { %>
                               
    <!-- Cart area start -->
    <div class="empty-cart-area pb-100px pt-100px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-heading">
                        <h2>Your cart item</h2>
                    </div>
                    <div class="empty-text-contant text-center">
                        <i class="icon-handbag"></i>
                        <h1>There are no more items in your cart</h1>
                        <a class="empty-cart-btn" href="/">
                            <i class="ion-ios-arrow-left"> </i> Continue shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart area end -->
                        <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
   
    </div>
 
    <!-- Cart Area End -->

    <!-- Footer Area Start -->
    <%- include('partials/footer') %>
    <!-- Footer Area End -->


<script src="assets/js/userajax.js"></script>




    <!-- Global Vendor, plugins JS -->

    <!-- Vendor JS -->
    <!-- <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script> -->

    <!--Plugins JS-->
    <!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/countdown.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.waypoints.js"></script>
    <script src="assets/js/plugins/jquery.lineProgressbar.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="assets/js/plugins/venobox.min.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main Js -->
    <script src="assets/js/main.js"></script>
</body>

</html>
