<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>COZY</title>
    <meta name="description" content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="https://htmldemo.hasthemes.com/furns/" /> -->

    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Furns - Responsive eCommerce HTML Template" />
    <meta property="og:url" content="PAGE_URL" />
    <meta property="og:site_name" content="Furns - Responsive eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Furns - Responsive eCommerce HTML Template" />
    <meta name="robots" content="noindex, follow" />
    <!-- Add site Favicon -->
    <link rel="icon" href="assets/images/favicon/favicon.png" sizes="32x32" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="assets/images/favicon/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="assets/images/favicon/favicon.png" />
    <!-- Structured Data  -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "Replace_with_your_site_title",
            "url": "Replace_with_your_site_URL"
        }
    </script>

    <!-- vendor css (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/simple-line-icons.css" />
    <link rel="stylesheet" href="assets/css/vendor/ionicons.min.css" />

    <!-- plugins css (All Plugins Files) -->

    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="assets/css/plugins/venobox.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

    <!-- Main Style -->
    <link rel="stylesheet" href="assets/css/style.css"/>

</head>
<body>
    <!-- Header Area start  -->
    <div class="header section">
        <!-- Header Top Message Start -->
        <div class="header-top section-fluid bg-black">
            <div class="container">
                <div class="row row-cols-lg-2 align-items-center">
                    <!-- Header Top Message Start -->
                    <div class="col text-center text-lg-left">
                        <div class="header-top-massege">
                            <% if(locals.name) {%> 
                                <p>Welcome  <%= locals.name.username  %>  </p>

                                <% } else{ %> 

                                    <p>Welcome guest </p>

                                    <% } %> 
                        </div>
                    </div>
                    <!-- Header Top Message End -->
                    <!-- Header Top Language Currency -->
                    <div class="col d-none d-lg-block">
                        <div class="header-top-set-lan-curr d-flex justify-content-end">
                            <!-- Single Wedge Start -->
                            <!-- <div class="header-top-curr dropdown">
                                <button class="dropdown-toggle" data-bs-toggle="dropdown"> Language : (ENG) <i
                                        class="ion-ios-arrow-down"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">Italiano</a></li>
                                    <li><a class="dropdown-item" href="#">Français</a></li>
                                    <li><a class="dropdown-item" href="#">Filipino</a></li>
                                </ul>
                            </div> -->
                            <!-- Single Wedge End -->
                            <!-- Single Wedge Start -->
                            <!-- <div class="header-top-curr dropdown">
                                <button class="dropdown-toggle pr-0 border-0" data-bs-toggle="dropdown">Currency : (USD)
                                    <i class="ion-ios-arrow-down"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" href="#">USD $</a></li>
                                    <li><a class="dropdown-item" href="#">EUR €</a></li>
                                    <li><a class="dropdown-item" href="#">POUND £</a></li>
                                    <li><a class="dropdown-item" href="#">FRANC ₣</a></li>
                                </ul>
                            </div> -->
                            <!-- Single Wedge End -->
                        </div>
                    </div>
                    
                    <!-- Header Top Language Currency -->
                </div>
            </div>
        </div>
        <!-- Header Top  End -->
        <!-- Header Bottom  Start -->
        <div class="header-bottom d-none d-lg-block">
            <div class="container position-relative">
                <div class="row align-self-center">
                    <!-- Header Logo Start -->
                    <div class="col-auto align-self-center">
                        <div class="header-logo">
                            <h2 style="font-weight: 700;"> <a href="/">COZY</a></h2>
                            <!-- <a href="index.html"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a> -->
                        </div>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Action Start -->
                    <div class="col align-self-center">
                        <div class="header-actions">
                            <div class="header_account_list">
                                <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                        class="icon-magnifier"></i></a>
                                <div class="dropdown_search">
                                    <form class="action-form" action="#">
                                        <input class="form-control" placeholder="Enter your search key" type="text">
                                        <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Single Wedge Start -->
                            <div class="header-bottom-set dropdown">
                                <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                        class="icon-user"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" href="/My-account">My account</a></li>
                                    <li><a class="dropdown-item" href="/MyWishlist">wish List</a></li>
                               

                                    <% if(!locals.user) { %> 
                                        <li><a class="dropdown-item" href="/UserLogin">login</a></li>
                                    <% } else { %>

                                        <li><a class="dropdown-item" href="/UserLogout">logout</a></li>
                                        <% 
                                            } %> 
                                  
                                </ul>
                            </div>
                            <!-- Single Wedge End -->
                            <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                <i class="icon-handbag"></i>
                                <span class="header-action-num"><%=locals.cartdata.length  %> </span>
                                <!-- <span class="cart-amount">€30.00</span> -->
                            </a>
                            <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Header Action End -->
                </div>
            </div>
        </div>
        <!-- Header Bottom  End -->
        <!-- Header Bottom  Start -->
        <div class="header-bottom d-lg-none sticky-nav bg-white">
            <div class="container position-relative">
                <div class="row align-self-center">
                    <!-- Header Logo Start -->
                    <div class="col-auto align-self-center">
                        <div class="header-logo">
                            <h2 style="font-weight: 700;"> <a href="/">COZY</a></h2>
                            <!-- <a href="index.html"><img src="assets/images/logo/logo.png" alt="Site Logo" /></a> -->
                        </div>
                    </div>
                    <!-- Header Logo End -->

                    <!-- Header Action Start -->
                    <div class="col align-self-center">
                        <div class="header-actions">
                            <div class="header_account_list">
                                <a href="javascript:void(0)" class="header-action-btn search-btn"><i
                                        class="icon-magnifier"></i></a>
                                <div class="dropdown_search">
                                    <form class="action-form" action="#">
                                        <input class="form-control" placeholder="Enter your search key" type="text">
                                        <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- Single Wedge Start -->
                            <div class="header-bottom-set dropdown">
                                <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown"><i
                                        class="icon-user"></i></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="dropdown-item" href="/My-account">My account</a></li>
                                    <li><a class="dropdown-item" href="/MyWishlist">wish List</a></li>

                            
                                    <% if(!locals.user) { %> 
                                        <li><a class="dropdown-item" href="/UserLogin">login</a></li>
                                    <% } else { %>

                                        <li><a class="dropdown-item" href="/UserLogout">logout</a></li>
                                        <% 
                                            } %> 
                                </ul>
                            </div>
                            <!-- Single Wedge End -->
                            <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                <i class="icon-handbag"></i>
                                <span class="header-action-num">01</span>
                                <!-- <span class="cart-amount">€30.00</span> -->
                            </a>
                            <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!-- Header Action End -->
                </div>
            </div>
        </div>
        <!-- Header Bottom  End -->
        <!-- Main Menu Start -->
        <div class="bg-black d-none d-lg-block sticky-nav">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-12 align-self-center">
                        <div class="main-menu">
                            <ul>

        <% for(i=0;i<locals.Category.length;i++) { %>

            <li class="dropdown"><a href="#"><%= locals.Category[i].MainCategory %> <i class="ion-ios-arrow-down"></i></a>
            <ul class="sub-menu">
                <% for(j=0;j<Category[i].SubCategory.length;j++) {%>
                    <li><a href="/SubCatList?SubCat=<%= Category[i].SubCategory[j] %>&Cat=<%= Category[i].MainCategory %>"><%= Category[i].SubCategory[j] %> </a></li>
            
                    <% } %>
            </ul>
        
        </li>
            
            <% } %> 


                            </ul>
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Menu End -->
    </div>
    <!-- Header Area End  -->

    <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
        <div class="inner">
            <div class="head">
                <span class="title">Cart</span>
                <button class="offcanvas-close">×</button>
            </div>
            <div class="body customScroll">
                <ul class="minicart-product-list">
                    <% let TotalPrice=0 %>
                    <% let totalQ=0,Price=0,totaldiscount=0 %>
                <% if(!cartdata[0]==0){ %> 
                   
                    <% locals.cartdata.forEach((element)=>{%>

                        <% TotalPrice=TotalPrice+(element.Quantity* (element.product.Price-(element.product.Price*element.product.Discount/100)))%>
                        <% totaldiscount=totaldiscount+ element.Quantity*(element.product.Price*element.product.Discount/100)%> 
                        <% totalQ=totalQ+element.Quantity%>
                         <% Price=Price+(element.Quantity* element.product.Price) %> 
                        <li>
                            <a href="single-product.html" class="image"><img src="/AdminAssets/images/addProduct/<%=element.product.Images[0]%>" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title"><%= element.product.ProductName%></a>
                                <span class="quantity-price"><%= element.Quantity%> x <span class="amount">₹ <%=Math.round(element.product.Price-(element.product.Price*element.product.Discount)/100)%></span></span>
                                <a href="#" class="remove">×</a>
                            </div>

                        </li>
                  <% }) %> 
                    <% } %> 
                </ul>
            </div>
            <div class="foot">
                <div class="sub-total">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-left">Sub-Total :</td>
                                <td class="text-right">₹  <%= Price %> </td>
                            </tr>
                            <tr>
                                <td class="text-left">total Quantity</td>
                                <td class="text-right"><%= totalQ %></td>
                            </tr>
                            <tr>
                                <td class="text-left">Discount</td>
                                <td class="text-right">₹  <%= Math.round(totaldiscount)%></td>
                            </tr>
                            <tr>
                                <td class="text-left">Total :</td>
                                <td class="text-right theme-color">₹  <%= Math.round(TotalPrice)%></td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <a href="/AddCart"class="btn btn-dark btn-hover-primary mb-6">view cart</a>
                   
                </div>
                <p class="minicart-message">Free Shipping on All Orders!</p>
            </div>
        </div>
    </div>
        <!-- OffCanvas Cart End -->
    <!-- OffCanvas Menu Start -->
    <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
        <button class="offcanvas-close"></button>
        <div class="inner customScroll">
            <div class="offcanvas-menu mb-4">
                <ul>
                    <% for(i=0;i<locals.Category.length;i++) { %>

                        <li class="dropdown"><a href="#"><%= locals.Category[i].MainCategory %> <i class="ion-ios-arrow-down"></i></a>
                        <ul class="sub-menu">
                            <% for(j=0;j<Category[i].SubCategory.length;j++) {%>
                                <li><a href="/SubCatList?SubCat=<%= Category[i].SubCategory[j] %>&Cat=<%= Category[i].MainCategory %>"><%= Category[i].SubCategory[j] %> </a></li>
                        
                                <% } %>
                        </ul>
                    
                    </li>
                        
                        <% } %>  
                </ul>
            </div>
            <!-- OffCanvas Menu End -->
            <!-- Language Currency start -->
            <div class="offcanvas-userpanel mt-8">
            
            </div>
            <!-- Language Currency End -->
            <div class="offcanvas-social mt-auto">
                <ul>
                    <li>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-google"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-youtube"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="ion-social-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- OffCanvas Menu End -->
    <div class="offcanvas-overlay"></div>
    <!-- breadcrumb-area start -->